body {
    font-family: Arial, sans-serif;
    background-color: rgb(140, 97, 42);
}

header {
    background: #f8f9fa;
    padding: 50px 0;
}
#date-time {
    font-size: 24px;
    font-weight:normal;
    color: purple;
    background-color: rgba(96, 165, 189, 0.5);
}

header h1 {
    font-size: 2.5rem;
    color: #343a40;
}

header p {
    font-size: 1.2rem;
    color: #6c757d;
}

.navbar-brand {
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
}

button, a {
    transition: all 0.3s;
}

button:hover, a:hover {
    opacity: 0.8;
}
img{
    height: 400px;
    border-radius: 4%;
}
h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
